body{font-family: "Montserrat",sans-serif;}

.auth-container {
    background-image: url(./assets/images/auth-bg.png);
}

.bg-overlay {
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.4),
        rgba(47, 140, 51, 0.7)
      );

}

.auth-container .logofood {
    width: 366px;
}

.allTextBg{
    background-color: #8391A1;
    
}

/* //SideBar */
.sidebar-container .ps-sidebar-container {
    background-color: #1F263E;
  
    color: #fff;
}

.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
    background-color: rgba(47, 140, 96, 0.4);

}
/* .sidebar-container .ps-sidebar-root {
    border-top-right-radius: 40px;
  } */

/* //Header */
.header-container {
    background-image: url(./assets/images/header-bg-svg.svg);
    background-size: cover;
    color: #fff;
}
/* notfound */
.notfound{
    background-image: url(./assets/images/not-found-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh; 
    background-position: center right
}
.notfound h2{color: #009247;}
.notfound button{height: 4rem;}


.recipeheader-container{
background-color: #F0FFEF;

}

.recipeheader-container span{
    color: #009247;
}
.green{
    color: #009247;
}

.grey{
    background-color: #E2E5EB;
}
.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }